.beer {
    
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    &__info {
        
        margin-top: 20px;
        padding: 10px;
        background: #fff8dc;
        list-style-type: none;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        font-weight: 400;

    }
}
        